body { 
  padding-top: 200px; }

body {
    background: url('images/lookout.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.layer {
    background-color: rgba(255, 255, 255, 0.5);
    
}

/* makes anchor links from nav offset so the headers don't hide under fixed nav */
:target:before { 
	display: block; 
 	content: " "; 
  	height: 70px;      
        margin-top: -70px;  	
        visibility: hidden; 
}

